
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Stalinist+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Creepster&display=swap");

.body {
    background-image: url("./pics/gotham-city.jpeg");
    background-repeat: no-repeat;
    color: white;
}

.h3 {
    font-family:'Black Ops One', cursive ;
}

.announce {
    font-family: 'Stalinist One', cursive;
}

.public {
    color: white;
    text-align: center;
}